b,
strong {
  font-weight: bolder;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
a {
  color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}

input {
  overflow: visible;
}

button,
button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

h3 {
  font-size: 24px;
}

img {
  border-style: none;
}
img {
  vertical-align: middle;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.top {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.top {
  top: 0;
}

.nav-bar-block {
  width: 100%;
}

.nav-bar-block {
  min-width: 100%;
}

.nav-bar-block .button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}
.top {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.top {
  top: 0;
}

.nav-bar {
  width: 100%;
  overflow: hidden;
}
.center .nav-bar {
  display: inline-block;
  width: auto;
}
.nav-bar .nav-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}

.nav-bar {
  position: static;
  float: left;
}
.nav-bar .button {
  white-space: normal;
}
.nav-bar-block .nav-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}
.nav-bar-block.center .nav-bar-item {
  text-align: center;
}

.container:after,
.container:before,
.row-padding:after,
.row-padding:before,
.nav-bar:before,
.nav-bar:after {
  content: "";
  display: table;
  clear: both;
}

.nav-bar-item {
  text-align: center;
}

.white {
  color: #000 !important;
  background-color: #fff !important;
}

.wide {
  letter-spacing: 4px;
}

.padding {
  padding: 8px 16px !important;
}
.padding-large {
  padding: 12px 24px !important;
}
.padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.border-light-grey,
.border-light-gray {
  border-color: #f1f1f1 !important;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.display-container {
  width: 100%;
}

.content {
  margin-left: auto;
  margin-right: auto;
}
.content {
  max-width: 980px;
}
.image {
  max-width: 100%;
  height: auto;
}

.display-middle {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.center {
  text-align: center !important;
}
.xxlarge {
  font-size: 60px !important;
}
.text-white {
  color: #fff !important;
}

.right {
  float: right !important;
}

.right-align {
  text-align: right !important;
}

.black {
  color: #fff !important;
  background-color: #000 !important;
}

.opacity-min {
  opacity: 0.90;
}

.opacity-min-black {
  background-color: #000;
  opacity: 0.95;
}

.hide-small {
  display: none !important;
}

.text-white {
  color: #ffffff !important;
}

.container {
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.border-bottom {
  border-bottom: 1px solid #ccc !important;
}

.row-padding,
.row-padding > .col {
  padding: 0 8px;
}

.grayscale-max {
  filter: grayscale(100%);
}

.grayscale {
  filter: grayscale(75%);
}

.grayscale-min {
  filter: grayscale(50%);
}

.col {
  float: left;
  width: 100%;
}
.col.s1 {
  width: 8.33333%;
}
.col.s2 {
  width: 16.66666%;
}
.col.s3 {
  width: 24.99999%;
}
.col.s4 {
  width: 33.33333%;
}
.col.s5 {
  width: 41.66666%;
}
.col.s6 {
  width: 49.99999%;
}
.col.s7 {
  width: 58.33333%;
}
.col.s8 {
  width: 66.66666%;
}
.col.s9 {
  width: 74.99999%;
}
.col.s10 {
  width: 83.33333%;
}
.col.s11 {
  width: 91.66666%;
}
.col.s12 {
  width: 99.99999%;
}

@media (min-width: 601px) {
  .col.m1 {
    width: 8.33333%;
  }
  .col.m2 {
    width: 16.66666%;
  }
  .col.m3 {
    width: 24.99999%;
  }
  .col.m4 {
    width: 33.33333%;
  }
  .col.m5 {
    width: 41.66666%;
  }
  .col.m6 {
    width: 49.99999%;
  }
  .col.m7 {
    width: 58.33333%;
  }
  .col.m8 {
    width: 66.66666%;
  }
  .col.m9 {
    width: 74.99999%;
  }
  .col.m10 {
    width: 83.33333%;
  }
  .col.m11 {
    width: 91.66666%;
  }
  .col.m12 {
    width: 99.99999%;
  }
}
@media (min-width: 993px) {
  .col.l1 {
    width: 8.33333%;
  }
  .col.l2 {
    width: 16.66666%;
  }
  .col.l3 {
    width: 24.99999%;
  }
  .col.l4 {
    width: 33.33333%;
  }
  .col.l5 {
    width: 41.66666%;
  }
  .col.l6 {
    width: 49.99999%;
  }
  .col.l7 {
    width: 58.33333%;
  }
  .col.l8 {
    width: 66.66666%;
  }
  .col.l9 {
    width: 74.99999%;
  }
  .col.l10 {
    width: 83.33333%;
  }
  .col.l11 {
    width: 91.66666%;
  }
  .col.l12 {
    width: 99.99999%;
  }
}

.margin-bottom {
  margin-bottom: 16px !important;
}

.light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.block {
  display: block;
  width: 100%;
}

.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.border-0 {
  border: 0 !important;
}

.border {
  border: 1px solid #ccc !important;
}
.border-top {
  border-top: 1px solid #ccc !important;
}

.border-left {
  border-left: 1px solid #ccc !important;
}
.border-right {
  border-right: 1px solid #ccc !important;
}

.section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.border {
  border: 1px solid #ccc !important;
}
.section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

/* *********************************modal************************************************************* */

body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.container-form {
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #00000075;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 50%;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
